* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  padding-bottom: 25px;
}