* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

.space {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input {
  margin-right: 15px;
}


div {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}